<ion-header translucent="true">
    <ion-toolbar class="d-flex align-items-center px-3">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/expense/expenses"></ion-back-button>
        </ion-buttons>
        <ion-title class="fw-bold">Add Expense</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="add-expense-content">

    <!-- Date Picker -->
    <div class="calendar-card mx-3 mt-3 p-3 rounded-4 shadow-sm text-center">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <ion-icon name="chevron-back-outline" (click)="previousWeek()"></ion-icon>
            <span class="fw-bold">{{ selectedMonth }} {{ selectedYear }}</span>
            <ion-icon name="chevron-forward-outline" (click)="nextWeek()"></ion-icon>
        </div>

        <div class="d-flex justify-content-between">
            <div *ngFor="let day of weekDays" (click)="selectDate(day)" class="day-box"
                [ngClass]="{'active': day === selectedDate}">
                <small>{{ day | date:'EEE' }}</small>
                <div class="day-number">{{ day | date:'d' }}</div>
            </div>
        </div>
    </div>

    <!-- Expense Title -->
    <div class="form-group px-3 mt-4">
        <label class="fw-bold">Expense Title</label>
        <ion-input placeholder=" Ex..Food, Shopping, Travel..." [(ngModel)]="expenseTitle"
            class="custom-input"></ion-input>
    </div>

    <!-- Amount -->
    <div class="form-group px-3 mt-3">
        <label class="fw-bold">Amount</label>
        <div class="input-group align-items-center custom-input">
            <!-- <span class="me-2">$</span> -->
            <ion-input type="number" placeholder="Ex ..300" [(ngModel)]="amount"></ion-input>
        </div>
    </div>

    <!-- Category -->
    <div class="form-group px-3 mt-4">
        <label class="fw-bold mb-2">Category</label>
        <div class="d-flex align-items-center flex-wrap">
            <div *ngFor="let cat of categories" (click)="selectCategory(cat)"
                [ngClass]="{'selected': cat === selectedCategory}" class="category-btn me-2 mb-2">
                {{cat}}
            </div>
            <!-- <div class="category-btn add-btn" (click)="addCategory()">
                <ion-icon name="add-outline"></ion-icon>
            </div> -->
            <ion-icon name="add-outline" (click)="addCategory()" size="large"></ion-icon>
        </div>
    </div>

    <!-- Add Expense Button -->
    <div class="px-3 mt-5 mb-3">
        <button class="btn w-100 add-expense-btn py-3 rounded-4 fw-bold" (click)="saveExpense()">
            Add Expense
        </button>
    </div>

</ion-content>